{% load static %}
<!doctype html>
<html lang="en-US">
   

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Movie Professor</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="{% static 'images/favicon.ico' %} " />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} " />
      <!-- Typography CSS -->
      <link rel="stylesheet" href="{% static 'css/typography.css' %} ">
      <!-- Style -->
      <link rel="stylesheet" href="{% static 'css/style.css' %} " />
      <!-- Responsive -->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %} " />
      
   </head>
   <body>
    <header id="main-header">
        <div class="main-header">
           <div class="container-fluid">
              <div class="row">
                 <div class="col-sm-12">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                       <a href="#" class="navbar-toggler c-toggler" data-toggle="collapse"
                          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                          <div class="navbar-toggler-icon" data-toggle="collapse">
                             <span class="navbar-menu-icon navbar-menu-icon--top"></span>
                             <span class="navbar-menu-icon navbar-menu-icon--middle"></span>
                             <span class="navbar-menu-icon navbar-menu-icon--bottom"></span>
                          </div>
                       </a>
                       <a class="navbar-brand" href="{% url 'homepage:home' %}"> <h4>Movie House</h4> </a>
                       <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <div class="menu-main-menu-container">
                             <ul id="top-menu" class="navbar-nav ml-auto">
                                <li class="menu-item">
                                   <a href="{% url 'homepage:home' %}">Home</a>
                                </li>
                                <li class="menu-item">
                                   <a href="{% url 'homepage:movie_category' 'movies' %}">Movies</a>
                                </li>
                                <li class="menu-item">
                                 <a href="{% url 'homepage:movie_category' 'tv-shows' %}">T.V Show</a>
                              </li>
                              <li class="menu-item">
                                 <a href="{% url 'homepage:movie_category' 'must-watch' %}">Must Watch</a>
                              </li>
                                <li class="menu-item">
                                   <a href="{% url 'Contact_us:Request_Movie' %}">10 Mins. Request</a>
                                </li>
                                {% if request.user.is_superuser %}
                                <li class="menu-item">
                                   <a href="{% url 'Contact_Admin:Sent_downloadable_link' %}">Sent Link</a>
                                </li>
                                {% endif %}
                             </ul>
                          </div>
                       </div>
                       <div class="mobile-more-menu">
                          <a href="javascript:void(0);" class="search-toggle" id="dropdownMenuButton"
                             data-toggle="more-toggle" aria-haspopup="true" aria-expanded="false">
                          <i class="ri-search-line"></i>
                          </a>
                          <div class="more-menu" aria-labelledby="dropdownMenuButton">
                                      <div class="search-box iq-search-bar">
                                         <form method="GET" action="{% url 'homepage:search-result' %}" class="searchbox">{% csrf_token %}
                                            <div class="form-group position-relative">
                                               <input type="text" name="query" id="query" class="text search-input font-size-12"
                                                  placeholder="type here to search...">
                                               <i class="search-link ri-search-line"></i>
                                            </div>
                                         </form>
                                      </div>
                                   </li>
                                </ul>
                             </div>
                          
                       </div>
                       <div class="navbar-right menu-right">
                          <ul class="d-flex align-items-center list-inline m-0">
                             <li class="nav-item nav-icon">
                                <a href="#" class="search-toggle device-search">
                                <i class="ri-search-line"></i>
                                </a>
                                <div class="search-box iq-search-bar d-search">
                                   <form method="GET" action="{% url 'homepage:search-result' %}" class="searchbox">{% csrf_token %}
                                      <div class="form-group position-relative">
                                         <input type="text" class="text search-input font-size-12" name="query" id="query"
                                            placeholder="type here to search...">
                                         <i class="search-link ri-search-line"></i>
                                      </div>
                                   </form>
                                </div>
                             </li>
                             <!-- {% if user.is_authenticated %}
                             <li class="nav-item nav-icon">
                                <a href="#" class="iq-user-dropdown search-toggle p-0 d-flex align-items-center"
                                   data-toggle="search-toggle">
                                <img src="{% static 'images/user/user.jpg' %} " class="img-fluid avatar-40 rounded-circle" alt="user">
                                </a>
                                <div class="iq-sub-dropdown iq-user-dropdown">
                                   <div class="iq-card shadow-none m-0">
                                      <div class="iq-card-body p-0 pl-3 pr-3">
                                         <a href="" class="iq-sub-card setting-dropdown">
                                            <div class="media align-items-center">
                                               <div class="right-icon">
                                                  <i class="ri-file-user-line text-primary"></i>
                                               </div>
                                               <div class="media-body ml-3">
                                                  <h6 class="mb-0 ">Manage Profile</h6>
                                               </div>
                                            </div>
                                         </a>
                                         <a href="" class="iq-sub-card setting-dropdown">
                                            <div class="media align-items-center">
                                               <div class="right-icon">
                                                  <i class="ri-settings-4-line text-primary"></i>
                                               </div>
                                               <div class="media-body ml-3">
                                                  <h6 class="mb-0 ">Settings</h6>
                                               </div>
                                            </div>
                                         </a>
                                         <a href="" class="iq-sub-card setting-dropdown">
                                            <div class="media align-items-center">
                                               <div class="right-icon">
                                                  <i class="ri-logout-circle-line text-primary"></i>
                                               </div>
                                               <div class="media-body ml-3">
                                                  <h6 class="mb-0 ">Logout</h6>
                                               </div>
                                            </div>
                                         </a>
                                      </div>
                                   </div>
                                </div>
                             </li>
                             {% else %}
                             <a href="#">Login/SignIn</a>
                             {% endif %} -->
                          </ul>
                       </div>
                    </nav>
                 </div>
              </div>
           </div>
        </div>
     </header>

     {% block body %}
		  
		{% endblock body %}

     <footer class="mb-0">
        <div class="container-fluid">
           <div class="block-space">
              <div class="row">
                 <div class="col-lg-3 col-md-4">
                    <ul class="f-link list-unstyled mb-0">
                       <li><a href="{% url 'homepage:movie_category' 'movies' %}">Movies</a></li>
                       <li><a href="{% url 'homepage:movie_category' 'tv-shows' %}">Tv Shows</a></li>
                    </ul>
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <ul class="f-link list-unstyled mb-0">
                       <li><a href="{% url 'homepage:movie_category' 'must-watch' %}">Must Watch</a></li>
                       <li><a href="{% url 'Contact_us:Request_Movie' %}">Reqest Movie Within 10 Mins</a></li>
                       <li><a href="#">How to download Movies.</a></li>
                    </ul>
                 </div>
                 <!-- <div class="col-lg-3 col-md-12 r-mt-6">
                    <div class="d-flex">
                       <a href="#" class="s-icon">
                       <i class="ri-telegram-fill"></i>
                       </a>
                       <a href="#" class="s-icon">
                       <i class="ri-whatsapp-fill"></i>
                       </a>
                       <a href="#" class="s-icon">
                       <i class="ri-instagram-fill"></i>
                       </a>
                    </div>
                 </div> -->
              </div>
           </div>
        </div>
     </footer>
     <!-- MainContent End-->
     <!-- back-to-top -->
     <div id="back-to-top">
        <a class="top" href="#top" id="top"> <i class="fa fa-angle-up"></i> </a>
     </div>
     <!-- back-to-top End -->
     <!-- jQuery, Popper JS -->
     <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
     <script src="{% static 'js/popper.min.js' %}"></script>
     <!-- Bootstrap JS -->
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <!-- Slick JS -->
     <script src="{% static 'js/slick.min.js' %}"></script>
     <!-- owl carousel Js -->
     <script src="{% static 'js/owl.carousel.min.js' %}"></script>
     <!-- select2 Js -->
     <script src="{% static 'js/select2.min.js' %}"></script>
     <!-- Magnific Popup-->
     <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
     <!-- Slick Animation-->
     <script src="{% static 'js/slick-animation.min.js' %}"></script>
     <!-- Custom JS-->
     <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>